body
{
	background-color: lightpink;

}

h1
{
	color: purple;
	font-family: lucida handwriting;
	font-size: 30px;
	text-align: center;
}
h2
{
	text-align: center;
}

a:link
{
	color: mediumpurple;
	padding: 20px;
	text-decoration: none;
	text-align: center;
}

a:hover
{
	font-weight: bold;
	color: darkblue;
	background-color: slateblue;
}

a:active
{
	color: floralwhite;
	background-color: mediumorchid;
}

a:visited
{
	color: firebrick;
	background-color: mistyrose;
}
button
{
	width: 150px;
}

p
{
	color: mediumpurple;
	font-size: 20px;
	font-family: courier new;
}
